<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454609421610-s8of355dkv1a6iftblitn7ssp264avpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454609421610-s8of355dkv1a6iftblitn7ssp264avpf</string>
	<key>API_KEY</key>
	<string>AIzaSyA-O43-qlBy6x8-XCb1ruVpEL7izvS6o-U</string>
	<key>GCM_SENDER_ID</key>
	<string>454609421610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dindintheapp</string>
	<key>PROJECT_ID</key>
	<string>michael-b65b3</string>
	<key>STORAGE_BUCKET</key>
	<string>michael-b65b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454609421610:ios:93bfa017cd84b381d80a53</string>
	<key>DATABASE_URL</key>
	<string>https://michael-b65b3-default-rtdb.firebaseio.com</string>
</dict>
</plist>